<div class="masthead">
    <div class="container-wrapper">
        <div class="container-fluid py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-lg-9 col-xl-7">
                <div class="card" style="background-color: rgba(255, 255, 255, 0.4);">
                  
               
                  <div class="rounded-top text-white d-flex flex-row" style="background-color: rgba(0, 0, 0, 0.0); height:200px;">
                    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                        alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                    </div>
                  
                    <div class="ms-3" style="margin-top: 130px;">
                      <h5>Andy Horwitz</h5>
                      <p>Web Developer</p>
                    </div>
                  
                    <div class="ms-auto" style="margin-top: 130px;">
                      <button class="editar" data-filter="spray">Editar perfil</button>
                    </div>
                  </div>
                  



                  <div class="p-4 text-black" style="background-color: #f8f9fa;">
                    <div class="d-flex justify-content-start text-center py-1">
                      
                     
                      <div class="tags">
                      <button class="btn btn-default filter-button" data-filter="spray">Backend</button>
                      <button class="btn btn-default filter-button" data-filter="irrigation">Frontend</button>
                      </div>
                      
                      <div>
                        <p class="mb-1 h5"><i class="fab fa-linkedin" style="color: #000000;"></i>
                        </p>
                        <p class="small text-muted mb-0">LinkedIn</p>
                      </div>
                      <div class="px-3">
                        <p class="mb-1 h5"><i class="fab fa-github" style="color: #000000;"></i></p>
                        <p class="small text-muted mb-0">Github</p>
                      </div>
                      <div>
                        <p class="mb-1 h5"><i class="fab fa-twitter" style="color: #000000;"></i></p>
                        <p class="small text-muted mb-0">Twitter</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-4 text-black">
                    <div class="mb-5">
                 
                      <div class="p-4" style="background-color: #f8f9fa;">
                        <p class="mb-1">Web Developer</p>
                        <p class="mb-1">Lives in New York</p>
                        <p class="mb-0">Photographer</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                
                    </div>
                    <div class="row g-2">
                      <div class="gallery_product col mb-2">
                        <img src="./assets/1.jpg"
                          alt="image 1" class="w-100 rounded-3">
                          <div class="middle">
                            <div class="text">John Doe</div>
                            </div>
                      </div>
                      <div class="gallery_product col mb-2">
                        <img src="./assets/2.png"
                          alt="image 1" class="w-100 rounded-3">
                          <div class="middle">
                            <div class="text">John Doe</div>
                            </div>
                      </div>
                    </div>
                    <div class="row g-2">
                      <div class="gallery_product col">
                        <img src="./assets/11.jpg"
                          alt="image 1" class="w-100 rounded-3">
                          <div class="middle">
                            <div class="text">John Doe</div>
                            </div>
                      </div>
                      <div class="gallery_product col">
                        <img src="./assets/8.png"
                          alt="image 1" class="w-100 rounded-3">
                          <div class="middle">
                            <div class="text">John Doe</div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    </div>
</div>