
<div class="masthead">
	<div class="container-wrapper">

		<!--<div class="lines">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		  </div>-->

		</div>

		<div class="container">
			<div class="row">
			<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="gallery-title">Explorar</h1>
			</div>
	
			<div class="center">
				<button class="btn btn-default filter-button" data-filter="all">All</button>
				<button class="btn btn-default filter-button" data-filter="hdpe">IA</button>
				<button class="btn btn-default filter-button" data-filter="sprinkle">Database</button>
				<button class="btn btn-default filter-button" data-filter="spray">Backend</button>
				<button class="btn btn-default filter-button" data-filter="irrigation">Frontend</button>
			</div>
			<br>
	
			<div *ngFor="let perfil of filteredPerfiles">
				<div class="row d-flex">
				  <div *ngFor="let proyecto of perfil.proyectos" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-6 filter {{ proyecto.filter }}">
					<img [src]="proyecto.image" class="img-responsive">
					<div class="middle">
					  <div class="text">{{ proyecto.name }}</div>
					</div>
				  </div>
				</div>
			  </div>			  
			  
			
			  
		</div>
	
	

	</div>

