div.masthead {
    padding-top: 5rem;
    background: linear-gradient(to bottom, rgba(54, 150, 126 , 0.8) 0%, rgba(0, 17, 80, 0.8) 100%);
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
      font-size: 3.5rem;
    }
  }