

div.masthead {
    min-height: 100vh;
    padding-top: 5rem;
    background: linear-gradient(to bottom, rgba(54, 150, 126 , 0.8) 0%, rgba(0, 17, 80, 0.8) 100%);
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
      font-size: 3.5rem;
    }
  }




  .gallery-title
  {
      font-weight: 500;
      font-size: 36px;
      color: #ffffff;
      text-align: center;
      font-weight: 500;
      margin-bottom: 30px;
  }
 
  .filter-button
  {
    z-index: 3;
    width: 15%;
    font-weight: 500;
    margin: 0px 20px 30px 10px;
    --bs-btn-color: #000000;
    --bs-btn-bg: rgba(54, 150, 126 , 0.8);
    --bs-btn-border-color: rgba(54, 150, 126 , 0.8);
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: rgba(54, 150, 126 , 0.8);
    --bs-btn-disabled-border-color: rgba(54, 150, 126 , 0.8);
    border-radius: 20px;
  }

  .filter-button:hover
  {z-index: 3;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: rgba(0, 80, 11, 0.8); 
  }

  .btn-default:active .filter-button:active
  {z-index: 3;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: rgba(0, 17, 80, 0.8); 
    --bs-btn-active-border-color:rgba(0, 17, 80, 0.8); 
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  .port-image
  {
      width: 100%;
  }
  
  .gallery_product
  {
      margin-bottom: 20px;
      text-align-last: center;
  }
  

  .center{
    text-align: center;
  }

  .img-responsive{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  
  .gallery_product {
    position: relative;
    cursor: pointer; /* Change the cursor to "pointer" when not hovering */
    z-index: 2;
   display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.gallery_product img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%}




  
  .gallery_product:hover {
    cursor: pointer; /* Change the cursor to "pointer" when hovering */
  }
  
  /* Define the hover effect for .middle */
  .gallery_product:hover .middle {
    opacity: 1;
  }
  
  /* Define the hover effect for .image */
  .gallery_product:hover .image {
    opacity: 0.3;
  }
  
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .text {
    background-color: #000000;
    opacity: 0.5;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 16px 32px;
  }

.filter-button[data-filter="all"] {
  background-color: #A8E6CF;
}
.filter-button[data-filter="hdpe"] {
  background-color: #DCEDC1;
}
.filter-button[data-filter="sprinkle"] {
  background-color: #FFD3B6;
}
.filter-button[data-filter="spray"] {
  background-color: #FFAAA5;
}
.filter-button[data-filter="irrigation"] {
  background-color: #c5a8e6;
}


.container-wrapper{
  height: 100%;
  overflow-y: auto; /* Allow the content to scroll vertically if it overflows */
}

/*/////////////////*/


.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 90vw;
  z-index: 1; /* Set z-index for the .lines element */
}

.line {
  z-index: 1; /* Set z-index for the .line elements */
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

  &:nth-child(1) {
    margin-left: -25%;

    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(3) {
    margin-left: 25%;

    &::after {
      animation-delay: 2.5s;
    }
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.container{
  z-index: 2;
}